.gallery-container {
    background-color: #666;
    height: 100vh;
}
.gallery-header {
    position: relative;
}
.back-icon {
    width: 50px;
    height: 50px;
    background-color:#666;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
}
h1 {
    margin: 0;
    padding:20px;
    font-size: 30px;
    font-family: 'Sansita Swashed', cursive;
    color: #ccffff;
    text-align: center;
}
.user-images {
    background-color: #666;
    display:grid;
    justify-content: space-between;
    grid-template-columns: 33vw 33vw 33vw ;
}
.image-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.img {
    display: block;
    width: 25vw;
    height: 15vw;
}

.img-name {
    margin-top: 10px;
    font-family: 'Sansita Swashed', cursive;
    color: purple;
}
.hide {
    width: 40px;
    height: 40px;
    background-size: cover;
    display: none;
    border-radius: 5px;
}
.delete {
    background-color: red;
}


.image-wrapper {
    width: 500px;
    display: flex;
    margin: 50px;
}
.img-controller {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.image-wrapper:hover .hide {
    display: block;
}