* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.btn {
    padding: 8px 20px;
    background: #037BFE;
    border-radius: 3px;
    border-width: 1px;
    color:#fff;
    font-size: medium;
}
.cursor-pointer {
    cursor: pointer;
}
.error {
    color: red ;
}
.btn-bg-light {
    background: transparent;
    color: #333;
}
.mt-1 {
    margin-top: 1rem !important;
}